.page {
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100vw;
  background-image: url("../../../../assets/images/plant.jpg");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  left: 0;

  padding: 110px 24px 60px;
}

.card {
  width: 100%;
  max-width: 640px;
  background: transparent;
  color: #111;
  backdrop-filter: blur(4px);
  border-radius: 12px;
  margin-right: clamp(12px, 6vw, 90px);
}

.titleRow {
  text-align: center;
  margin-bottom: 18px;
}

.title {
  margin: 0 0 10px;
  font-weight: 900;
  color: #111;
  font-size: clamp(0.95rem, 1.8vw, 1.1rem);
}

.subtitle {
  margin: 0;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.65);
  font-size: clamp(0.95rem, 1.8vw, 1.1rem);
}

.link {
  color: #16a34a;
  font-weight: 900;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 8px;
  font-size: clamp(0.95rem, 1.8vw, 1.1rem);
}

.field {
  width: 100%;
  max-width: 520px;
  margin: 18px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-size: 18px;
  font-weight: 900;
  color: #111;
  text-align: left;
  font-size: clamp(0.95rem, 1.8vw, 1.1rem);
}

.input {
  width: 100%;
  height: 40px;

  border: 2px solid #6db06a;
  border-radius: 8px;
  padding-left: 15px;

  background: rgba(255, 255, 255, 0.88);
  color: #111;
  outline: none;
  font-size: clamp(0.95rem, 1.8vw, 1.1rem);
}

.input:focus {
  box-shadow: 0 0 0 4px rgba(109, 176, 106, 0.18);
}

.input[aria-invalid="true"] {
  border-color: #f97316;
  box-shadow: 0 0 0 4px rgba(249, 115, 22, 0.16);
}

.error {
  font-size: clamp(0.95rem, 1.8vw, 1.1rem);
  font-weight: 700;
  color: #d93025;
}

.button {
  display: block;
  width: 360px;
  height: 54px;
  margin: 22px auto 0;

  border: none;
  border-radius: 12px;
  background: #6db06a;
  color: #fff;

  font-size: clamp(0.95rem, 1.8vw, 1.1rem);
  font-weight: 900;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background: #999;
}

@media (max-width: 900px) {
  .page {
    justify-content: center;
    padding: 100px 16px 50px;
    background-position: center;
  }

  .card {
    width: min(520px, 80vw);
    padding: 10px;
  }
}

@media (max-width: 520px) {
  .field {
    max-width: 100%;
  }
  .button {
    width: 240px;
  }
}
