.demo-meditation-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
  margin-top: 500px;
}

.demo-meditation-video-container {
  margin-top: -96vh;
}

.demo-meditation-video-container h2 {
  margin-top: 200px;
}

@media (max-width: 411px) and (max-width: 767px) {
  .demo-meditation-video-container {
    margin-top: -200px;
  }
}

@media (max-width: 768px) {
  .demo-meditation-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
    margin-top: 10rem;
  }
  .demo-meditation-video-container {
    margin-top: -100px;
  }

  .demo-meditation-video-container h2 {
    margin-top: 20px;
  }

  .demo-meditation-video-container video {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);
    display: flex;
  }

  .demo-meditation-page .shuffle-button {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
}
