.about-wrapper {
  text-align: center;
  background-image: url("../../assets//images/visualMeditation.png");
  height: 90vh;
  background-size: contain;
  width: 60vw;
  display: flex;
  position: relative;
  top: 50px;
}

.about {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 5px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 96vh;
}

.about-content-item {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about-content-title {
  font-weight: 700;
  text-align: justify;
  text-decoration: underline;
  margin-bottom: 4px;
  color: rgb(25, 25, 109);
}

.about-content-subtitle {
  font-weight: 700;
  font-size: 14px;
}

.about-content-subtitle-array {
  font-weight: 400;
  text-align: justify;
  font-size: 14px;
}

.about-content-description {
  font-weight: 400;
  text-align: justify;
  font-size: 14px;
}

.about-content-subtitle-item {
  font-weight: 700;
  text-align: justify;
}

.about-content-subtitle-item-description {
  font-weight: 400;
  text-align: justify;
  margin-left: 10px;
}

.about-content-item-wrapper {
  display: flex;
  margin-top: 55px;
  flex-direction: column;
  color: rgb(205, 152, 129);
}

.about-content-subtitle-item:hover {
  font-size: 15px;
  transition: font-size 0.3s ease;
}

.content-description:hover {
  font-size: 16px;
  transition: zoom 0.3s ease;
}
.about-content-desc-item-description:hover {
  font-size: 15px;
  transition: font-size 0.3s ease;
}
