.meditation-page {
  margin-top: 300px;
  margin-bottom: 40px;
  border-radius: 20px;
  color: white(0, 245, 0, 0.483);
  z-index: 2000;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-weight: bolder;
}
