.back-button {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background: transparent;
  color: #ececec;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: bolder;
  margin-right: 60%;
  top: 90px;
  position: fixed;
}

.back-button:hover {
  color: #000000da;
  text-decoration: underline;
}

.back-button:active {
  transform: scale(0.97);
}

@media (max-width: 610px) {
  .back-button {
    margin-right: unset;
  }
}

@media (min-width: 889px) {
  .back-button {
    margin-right: 70%;
  }
}
