.back-button {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background: transparent;
  color: #ececec; /* blue-600 */
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: bolder;
  margin-right: 450px;
  top: 90px;
  position: fixed;
  margin-bottom: 1100px;
}

.back-button:hover {
  color: #000000da; /* darker blue */
  text-decoration: underline;
}

.back-button:active {
  transform: scale(0.97);
}

.back-button svg {
  font-size: 16px;
}
