name: Deploy REACT App on nginx

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read
  issues: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: PROD_FRONTEND_ENV

    env:
      REACT_APP_API: ${{ secrets.REACT_APP_API }}

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - name: Clean npm & node_modules
        run: |
          rm -rf node_modules package-lock.json
          npm cache clean --force

      - name: Install dependencies
        run: npm install --legacy-peer-deps

      - name: Create .env
        run: |
          echo "REACT_APP_API=${REACT_APP_API}" > .env
          echo "Created .env with:"
          cat .env

      - name: Build frontend (creates build/)
        run: |
          npm run build

      - name: Setup SSH Key
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/gh-ec2-ci
          chmod 600 ~/.ssh/gh-ec2-ci
          ssh-keyscan -H "${{ secrets.EC2_HOST }}" >> ~/.ssh/known_hosts

      # - name: Upload build folder to EC2
      #   run: |
      #     scp -o StrictHostKeyChecking=no -i ~/.ssh/gh-ec2-ci -r build/* \
      #     ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }}:/var/www/meditation-frontend/Personalised-Visual-Meditation-Guide-Frontend/build/

      - name: Restart Nginx on EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/gh-ec2-ci \
          ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} \
          "sudo nginx -t && sudo systemctl reload nginx
